<div class="flex items-center justify-between py-4">
  <div>
    <h1 class="titulo"> Ingresos </h1>
    <p class="subtitulo">Entrada de Productos</p>
  </div>
  <div class="ml-auto">
    <button (click)="nuevoTraspaso()" class="ml-1 mr-1" color="warn" mat-mini-fab matTooltip="Traspaso" type="button">
      <mat-icon>swap_vert</mat-icon>
    </button>
    <button (click)="nuevo()" class="ml-1 mr-1" color="warn" mat-mini-fab matTooltip="Adicionar" type="button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

@if (buscadorFormGroup ) {
  <form [formGroup]="buscadorFormGroup" (ngSubmit)="obtenerConsulta()">
    <div class="flex flex-wrap -mx-2">
      <div class="w-full md:w-1/4 px-2">
        <input type="date" class="dark:bg-gray-900 text-gray-800 dark:text-white" id="fechaInicio"
          name="fechaInicio" formControlName="fechaInicio">
      </div>
      <div class="w-full md:w-1/4 px-2">
        <input type="date" class="dark:bg-gray-900 text-gray-800 dark:text-white" id="fechaFinal" name="fechaFinal"
          formControlName="fechaFinal">
      </div>
      <div class="w-full md:w-1/4 px-2">
        <mat-form-field class="flex-auto w-full">
          <mat-label>Sucursal</mat-label>
          <mat-select formControlName="sucursal">
            <mat-option value="TODOS"> TODOS </mat-option>
            @for (item of listaSucursales; track item) {
              <mat-option [value]="item.id">
                {{item.descripcion}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/4 px-2">
        <mat-form-field class="flex-auto w-full">
          <mat-label>Finalizado</mat-label>
          <mat-select formControlName="finalizado">
            <mat-option value="TODOS"> TODOS </mat-option>
            <mat-option value="true"> FINALIZADO </mat-option>
            <mat-option value="false"> PENDIENTE </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
}


<div class="table-container mat-elevation-z2">
  <table mat-table [dataSource]="dataSource" matSort class="w-full dark:bg-gray-800">

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
      <td mat-cell *matCellDef="let element" [class.text-green-500]="element.finalizado"
        [class.text-red-500]="!element.finalizado">
        <span [class.bg-green-100]="element.finalizado" [class.bg-red-100]="!element.finalizado"
          class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full">
          {{ element.codigo }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="sucursal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </th>
      <td mat-cell *matCellDef="let element">
        {{ element.egresoSucursalOrigen }}<br>
        {{ element.sucursal }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
      <td mat-cell *matCellDef="let element">
        {{ element.tipo }}<br>
        {{element.fechaRegistro?.toDate() | date:'short'}}
      </td>
    </ng-container>


    <!--         <ng-container matColumnDef="producto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Producto </th>
    <td mat-cell *matCellDef="let element">
                <span class="text-xs px-2 py-1 rounded-full capitalize text-white" [ngClass]="{
                    'bg-slate-500': element.producto === '91',
                    'bg-yellow-500': element.producto === '95',
                    'bg-green-500': element.producto === 'DIESEL'
                }">
        {{ element.producto }}
      </span>
    </td>
  </ng-container> -->

  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Descripcion </th>
    <td mat-cell *matCellDef="let element" class="dark:text-white">
      {{ element.descripcion }}
    </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Total </th>
    <td mat-cell *matCellDef="let element">

      <div class="text-right">
        <span [class.text-blue-500]="element.finalizado" [class.text-orange-500]="!element.finalizado"
          [class.bg-blue-100]="element.finalizado" [class.bg-orange-100]="!element.finalizado"
          class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full">
          {{ element.total | number:'1.2-2': 'EN'}}
        </span>
      </div>

    </td>
  </ng-container>

  <ng-container matColumnDef="opciones">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
    <td mat-cell *matCellDef="let element">



      <div class="text-right">


        <a [routerLink]="'detalle/'+ element.id" matTooltip="Detalle, Agregrar/Quitar/Editar Items"
          class="inline-block px-4 py-2 border-2 border-lime-600 text-lime-600 font-medium text-xs leading-tight uppercase rounded-lg hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
          Detalle
        </a>

        @if (!element.finalizado) {
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opciones">
            <mat-icon>more_vert</mat-icon>
          </button>
        }

        <!-- Menú de opciones -->
        <mat-menu #menu="matMenu">

          <!--                     <button mat-menu-item (click)="copiar(element)">
          <mat-icon color="primary">file_copy</mat-icon>
          <span>Copiar</span>
        </button> -->

            @if (!element.traspaso) {
            <button [disabled]="element.tipo === 'MANTENIMIENTO'" mat-menu-item (click)="editar(element)">
              <mat-icon color="accent">edit</mat-icon>
              <span>Editar</span>
            </button>
            }

            @if (element.traspaso) {
            <button mat-menu-item (click)="editarTraspaso(element)">
              <mat-icon class="material-icon !text-green-600">edit</mat-icon>
              <span>Editar</span>
            </button>
            }
        <!--                  <button *ngIf="!element.finalizado" mat-menu-item (click)="eliminar(element)">
        <mat-icon color="warn">delete</mat-icon>
        <span>Eliminar</span>
      </button> -->
    </mat-menu>


  </div>
</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
</div>
