<div class="flex items-center mx-2">
  <h2 class="flex-auto m-0 headline">
    <div class="bg-foreground rounded-full border px-4 flex items-center w-4/4 mr-2">
      <mat-icon>search</mat-icon>
      <input (keyup)="applyFilter($event)" class="px-4 py-3 border-0 outline-none w-full bg-transparent"
        placeholder="Buscar...">
    </div>
  </h2>
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon>close</mat-icon>
  </button>
</div>

<!-- CUERPO -->
<mat-dialog-content>

  <div style="overflow: auto; max-height: 400px;">
    <table mat-table [dataSource]="dataSource" class=" w-full">

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> PRODUCTO </th>
        <td mat-cell *matCellDef="let element">

          <p (click)="crearConProducto(element,false)">
                        <span class="text-xs px-2 py-1 rounded-full capitalize text-white cursor-pointer" [ngClass]="{
                        'bg-slate-500': element.tipo === 'PRODUCTO',
                        'bg-yellow-500': element.tipo === 'SERVICIO',
                        'bg-green-500': element.tipo === 'INSUMO'}">
              {{ element.codigo }}
            </span>
          </p>
          <!-- <p *ngIf="element.Categoria" style="font-size:10px">{{element.Categoria.descripcion}}</p> -->
          {{element.descripcion}}
        </td>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef class="text-right">
        </th>
        <td mat-cell *matCellDef="let element">



          @if (element.tipo=='PRODUCTO') {
            <button mat-raised-button type="button" color="warn"
              (click)="crearConIngreso(element)">
              <mat-icon>menu_open</mat-icon> Ingrs.
            </button>
          }

          @if (element.tipo=='PRODUCTO') {
            <button mat-raised-button color="bg-accent" type="button"
              (click)="crearConProducto(element,true)">
              <mat-icon>done</mat-icon> <span>Selec.</span>
            </button>
          }

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button">Listo</button>
</mat-dialog-actions>