<div class="flex items-center justify-between py-4">
  <div>
    <h1 class="text-3xl font-semibold text-gray-800 dark:text-white">Asignaciones</h1>
    <p class="text-sm text-gray-500 dark:text-gray-300">Gestion de Asignacion: Vehiculo - Conductor</p>
  </div>
  <div class="ml-auto">
    <button (click)="nuevo()" class="ml-1 mr-1" color="warn" mat-mini-fab matTooltip="Adicionar"
      type="button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

@if (buscadorFormGroup ) {
  <form [formGroup]="buscadorFormGroup" (ngSubmit)="obtenerConsulta()">
    <div class="flex flex-wrap -mx-2">
      <div class="w-full md:w-1/5 px-2">
        <ng-select [items]="listaVehiculos" bindLabel="dato" bindValue="id" formControlName="vehiculoId"
          appendTo="body" placeholder="Vehiculos">
        </ng-select>
      </div>
      <div class="w-full md:w-2/5 px-2">
        <ng-select [items]="listaConductores" bindLabel="dato" bindValue="id" formControlName="conductorId"
          appendTo="body" placeholder="Conductores">
        </ng-select>
      </div>
      <div class="w-full md:w-1/5 px-2">
        <mat-form-field class="flex-auto w-full">
          <mat-label>ACTIVO</mat-label>
          <mat-select formControlName="activo">
            <mat-option value="TODOS"> TODOS </mat-option>
            <mat-option value="true"> ACTIVOS </mat-option>
            <mat-option value="false"> PASIVOS </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/5 px-2">
        <mat-form-field appearance="fill" style="width:100%">
          <mat-label>Limite</mat-label>
          <mat-select formControlName="limite">
            @for (item of limites; track item) {
              <mat-option [value]="item.id">
                {{item.descripcion}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
}


<div class="overflow-x-auto rounded-lg border border-gray-200 dark:border-gray-700 shadow-sm">
  <table class="min-w-full text-sm text-left dark:text-white dark:bg-slate-800">
    <thead class="bg-gray-100 dark:bg-slate-900 text-gray-700 dark:text-gray-200">
      <tr>
        <th class="px-4 py-2">Codigo</th>
        <th class="px-4 py-2">Interno</th>
        <th class="px-4 py-2">Placa</th>
        <th class="px-4 py-2">Conductor</th>
        <th class="px-4 py-2">Detalles</th>
        <th class="px-4 py-2"></th>
        <th class="px-4 py-2 text-right">Opciones</th>
      </tr>
    </thead>
    <tbody>
      @for (item of lista; track item) {
        <tr
          class="border-t border-gray-300 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-slate-700">
          <td class="px-4 py-2 font-semibold text-red-600 dark:text-red-400">
            <span class="font-semibold px-2 py-1 rounded-full bg-gray-800 text-white">
              {{ item.codigo }}
            </span>
          </td>
          <td class="px-4 py-2 font-semibold text-red-600 dark:text-red-400">
            <span class="font-semibold px-2 py-1 rounded-full bg-red-500 text-white">
              {{ item.vehiculoInterno }}
            </span>
          </td>
          <td class="px-4 py-2">
            <div class="font-semibold">{{ item.vehiculoPlaca }}</div>
            <!--                     <span class="font-semibold px-2 py-1 rounded-full bg-blue-500 text-white"> {{ item.interno }}</span>
            <div class="text-xs text-gray-500 dark:text-gray-300">Ejes: {{ item.ejes }}
            </div> -->
          </td>
          <td class="px-4 py-2 text-xs text-gray-500 dark:text-gray-300">
            Nombres: {{ item.conductorNombres }}<br>
            Apellidos: {{ item.conductorApellidos }}<br>
            Licencia: {{ item.conductorLicenciaNumero }}<br>
            Registro: {{ item.registroFecha?.toDate() | date:'short' }}
          </td>
          <td class="px-4 py-2 text-xs text-gray-500 dark:text-gray-300">
            Fecha Inicio: {{ item.fechaInicio | date}}<br>
            Fecha Final: {{ item.fechaFinal | date }}<br>
            Kilometraje Inicio: {{ item.kilometrajeInicio}}<br>
            Kilometraje Final: {{ item.kilometrajeFinal}}<br>
          </td>
          <td class="px-4 py-2">
            <span [class.bg-red-400]="item.finalizado" [class.bg-green-400]="!item.finalizado"
              class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full text-white">
              {{item.finalizado? 'FINALIZADO':'VIGENTE'}}
            </span>
          </td>
          <td class="px-4 py-2 text-right space-x-2">
            <a [routerLink]="'detalle/'+ item.id" matTooltip="Detalle"
              class="inline-block px-4 py-2 border-2 border-lime-600 text-lime-600 font-medium text-xs leading-tight uppercase rounded-lg hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
              Detalle
            </a>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div align="center">Codigo: {{item.codigo}}</div>
              <button mat-menu-item (click)="contenido(item)">
                <mat-icon>edit_note</mat-icon>
                <span>Contenido</span>
              </button>
              <button mat-menu-item (click)="editar(item)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <!--                    <button mat-menu-item>
              <mat-icon>calendar_month</mat-icon>
              <span>Ver Proximos Mant.</span>
            </button>
            <button mat-menu-item (click)="orden(item)">
              <mat-icon>engineering</mat-icon>
              <span>Generar Orden</span>
            </button> -->
            <button mat-menu-item (click)="eliminar(item)">
              <mat-icon>delete</mat-icon>
              <span>Elminar</span>
            </button>
          </mat-menu>
          <!--                     <button (click)="editar(item)" class="p-2 rounded-full hover:bg-blue-100 dark:hover:bg-slate-700">
          <mat-icon class="text-blue-600 dark:text-blue-400">edit</mat-icon>
        </button>
        <button (click)="eliminar(item)" class="p-2 rounded-full hover:bg-red-100 dark:hover:bg-slate-700">
          <mat-icon class="text-red-600 dark:text-red-400">delete</mat-icon>
        </button> -->
      </td>
    </tr>
  }
</tbody>
</table>
</div>