<div
    class="flex flex-wrap items-center bg-gradient-to-r from-lime-500 via-lime-850 to-lime-950 text-white rounded-lg lg:rounded-r-lg p-4">
    <h2 class="flex-auto m-0 text-white text-xl ">
        Gestion
    </h2>
    <div class="w-full flex flex-wrap space-x-4 space-y-2 mt-2 sm:space-y-0">



        <a [routerLink]="'ingresos'" class="flex items-center text-white hover:text-gray-300">
            <span class="material-icons">add_box</span>
            <span class="ml-1">Ingresos</span>
        </a>

        <a [routerLink]="'egresos'" class="flex items-center text-white hover:text-gray-300">
            <span class="material-icons">indeterminate_check_box</span>
            <span class="ml-1">Egresos</span>
        </a>

        <a [routerLink]="'productos'" class="flex items-center text-white hover:text-gray-300">
            <span class="material-icons">spoke</span>
            <span class="ml-1">Productos</span>
        </a>

        <a [routerLink]="'buscar'" class="flex items-center text-white hover:text-gray-300">
            <span class="material-icons">search</span>
            <span class="ml-1">Buscar</span>
        </a>

    </div>
</div>
<router-outlet></router-outlet>