<h2 mat-dialog-title>Editar Usuario </h2>

<mat-divider></mat-divider>

@if (registroFormGroup) {
  <form (ngSubmit)="onSubmit()" [formGroup]="registroFormGroup">
    <mat-dialog-content>
      <div class="flex items-center">
        <div class="flex-grow border-t border-gray-300"></div>
        <span class="px-4 text-gray-600">Tipos de Usuarios</span>
        <div class="flex-grow border-t border-gray-300"></div>
      </div>
      <mat-form-field class="flex-auto w-full">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="adminTipo">
          @for (item of tipos; track item) {
            <mat-option [value]="item">
              {{item}}
            </mat-option>
          }
        </mat-select>
        @if (registroControl && r.adminTipo.errors && r.adminTipo.errors.required) {
          <mat-error>
            Se requiere tipo
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="flex-auto w-full">
        <mat-label>Sucursal</mat-label>
        <mat-select formControlName="sucursal">
          @for (item of listaSucursales; track item) {
            <mat-option [value]="item.id">
              {{item.descripcion}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="flex items-center">
        <div class="flex-grow border-t border-gray-300"></div>
        <span class="px-4 text-gray-600">Ajustes de seguridad</span>
        <div class="flex-grow border-t border-gray-300"></div>
      </div>
      <div class="flex flex-wrap -mx-2">
        <div class="w-full md:w-1/3 px-2">
          <mat-slide-toggle formControlName="activo">Activo</mat-slide-toggle>
        </div>
        <div class="w-full md:w-1/3 px-2">
        </div>
        <div class="w-full md:w-1/3 px-2">
          <!-- <mat-slide-toggle formControlName="admin">Administrador</mat-slide-toggle> -->
        </div>
      </div>
      <br>
      </mat-dialog-content>
      <mat-divider></mat-divider>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">Cancelar</button>
        <button color="primary" mat-flat-button type="submit">Aceptar</button>
      </mat-dialog-actions>
    </form>
  }