<h2 mat-dialog-title>{{data.nuevo?'Nuevo':'Editar'}} Cliente </h2>

<mat-divider></mat-divider>

@if (registroFormGroup) {
  <form (ngSubmit)="onSubmit()" [formGroup]="registroFormGroup">
    <mat-dialog-content>
      <div class="flex">
        <div class="w-1/2 px-2">
          <mat-form-field class="w-full">
            <mat-label>Numero</mat-label>
            <input matInput placeholder="Numero" formControlName="numero">
            <mat-hint>Numero registro</mat-hint>
            @if (registroControl && r.numero.errors?.required) {
              <mat-error>Requerido</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="w-1/2 px-2">
          <mat-form-field class="w-full">
            <mat-label>NIT</mat-label>
            <input matInput placeholder="NIT" formControlName="nit">
            <mat-hint>Numero de Identificacion Tributaria</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field class="w-full">
        <mat-label>Empresa</mat-label>
        <input name="empresa" matInput placeholder="Empresa o Institucion" formControlName="empresa">
        <mat-icon matSuffix>apartment</mat-icon>
        <mat-hint>Nombre de Organizacion </mat-hint>
        @if (registroControl && r.empresa.errors?.required) {
          <mat-error>Requerido</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Responsable</mat-label>
        <input name="responsable" matInput placeholder="Responsable" formControlName="responsable">
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint>Responsable</mat-hint>
        @if (registroControl && r.responsable.errors?.required) {
          <mat-error>Requerido</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input name="email" matInput placeholder="email" formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>Correo Electronico</mat-hint>
        @if (registroControl && r.email.errors?.required) {
          <mat-error>Requerido</mat-error>
        }
        @if (registroControl && r.email.errors?.email) {
          <mat-error>Incorrecto</mat-error>
        }
      </mat-form-field>
      <div class="flex">
        <div class="w-1/2 px-2">
          <mat-form-field class="w-full">
            <mat-label>Telefono</mat-label>
            <input name="telefono" matInput placeholder="telefono" formControlName="telefono">
            <mat-icon matSuffix>phone</mat-icon>
            <!-- <mat-hint>Incluir codigo de are</mat-hint> -->
            @if (registroControl && r.telefono.errors?.required) {
              <mat-error>Requerido</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="w-1/2 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Forma de Pago</mat-label>
            <mat-select formControlName="formaPago">
              @for (item of listaFormas; track item) {
                <mat-option [value]="item">
                  {{item}}
                </mat-option>
              }
            </mat-select>
            @if (registroControl && r.formaPago.errors && r.formaPago.errors.required) {
              <mat-error>
                Se requiere la Forma de Pago
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <mat-form-field class="w-full">
        <mat-label>Direccion</mat-label>
        <input matInput placeholder="Direccion" formControlName="direccion">
        <mat-icon matSuffix>point</mat-icon>
        <mat-hint>Zona, Calle, Numero</mat-hint>
      </mat-form-field>
      <mat-form-field class="flex-auto w-full">
        <mat-label>Descripcion</mat-label>
        <textarea matInput placeholder="Descripcion de algo" formControlName="descripcion" cdkTextareaAutosize
          cdkAutosizeMinRows="3" cdkAutosizeMaxRows="3">
        </textarea>
      </mat-form-field>
      <!--         <p>
      <mat-slide-toggle formControlName="activo">Activo</mat-slide-toggle>
    </p>
    -->
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions class="flex items-center justify-between w-full">
    <!-- Toggle alineado a la izquierda -->
    <div class="flex-1">
      <mat-slide-toggle formControlName="activo">Activo</mat-slide-toggle>
    </div>
    <!-- Botones alineados a la derecha -->
    <div class="flex space-x-4">
      <button mat-button mat-dialog-close type="button">Cancelar</button>
      <button color="primary" mat-flat-button type="submit">Aceptar</button>
    </div>
  </mat-dialog-actions>
</form>
}