<h2 mat-dialog-title>{{data.nuevo?'Nuevo':'Editar'}} Vehiculo</h2>

<mat-divider></mat-divider>

@if (registroFormGroup) {
  <form (ngSubmit)="onSubmit()" [formGroup]="registroFormGroup" #aForm>
    <mat-dialog-content>
      <div class="flex">
        <div class="w-2/3 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo">
              @for (item of listaTipos; track item) {
                <mat-option [value]="item.id">
                  {{item.id}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-1/3 px-2">
          <mat-form-field class="w-full">
            <mat-label>Numero</mat-label>
            <input matInput placeholder="Numero" formControlName="numero">
            <mat-hint>Numero</mat-hint>
            @if (registroControl && r.numero.errors?.required) {
              <mat-error>Requerido</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="w-1/2 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Marca</mat-label>
            <mat-select formControlName="marca">
              @for (item of listaMarcas; track item) {
                <mat-option [value]="item.id">
                  {{item.id}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-1/2 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Empresa</mat-label>
            <mat-select formControlName="empresa">
              @for (item of listaEmpresas; track item) {
                <mat-option [value]="item.id">
                  {{item.id}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="w-1/2 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Placa</mat-label>
            <input name="placa" matInput placeholder="Placa" formControlName="placa">
            @if (registroControl && r.placa.errors && r.placa.errors.required) {
              <mat-error>
                Placa
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="w-1/2 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Interno</mat-label>
            <input name="interno" matInput placeholder="Interno" formControlName="interno">
            @if (registroControl && r.interno.errors && r.interno.errors.required) {
              <mat-error>
                Interno
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="w-2/3 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Carroceria</mat-label>
            <mat-select formControlName="carroceria">
              @for (item of listaCarrocerias; track item) {
                <mat-option [value]="item.id">
                  {{item.id}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-1/3 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Butacas</mat-label>
            <input name="bustacas" matInput placeholder="Butacas" formControlName="butacas">
            @if (registroControl && r.butacas.errors && r.butacas.errors.required) {
              <mat-error>
                Se requiere Butacas
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="w-2/3 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Chasis</mat-label>
            <input name="chasis" matInput placeholder="Chasis" formControlName="chasis">
            @if (registroControl && r.chasis.errors && r.chasis.errors.required) {
              <mat-error>
                Se requiere Chasis
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="w-1/3 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Año</mat-label>
            <input name="gestion" matInput placeholder="Gestion" formControlName="gestion">
            @if (registroControl && r.gestion.errors && r.gestion.errors.required) {
              <mat-error>
                Se requiere gestion
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="w-2/3 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Motor</mat-label>
            <input name="motor" matInput placeholder="Motor" formControlName="motor">
            @if (registroControl && r.motor.errors && r.motor.errors.required) {
              <mat-error>
                Se requiere Motor
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="w-1/3 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Ejes</mat-label>
            <mat-select formControlName="ejes">
              @for (item of listaEjes; track item) {
                <mat-option [value]="item.id">
                  {{item.id}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!--
      <div class="flex">
        <div class="w-1/2 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Licencia</mat-label>
            <input matInput placeholder="Licencia" formControlName="conductorLicencia">
          </mat-form-field>
        </div>
        <div class="w-1/2 px-2">
          <mat-form-field class="flex-auto w-full">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="Telefono" formControlName="conductorTelefono">
          </mat-form-field>
        </div>
      </div> -->
      <!--         <mat-form-field class="flex-auto w-full">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="conductorEmail">
    </mat-form-field> -->
    <!--      <mat-form-field class="flex-auto w-full">
    <mat-label>Usuario Tipo Conductor</mat-label>
    <mat-select formControlName="conductorEmail">
      <mat-option *ngFor="let item of usuarios" [value]="item.id">
        {{item.id}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions class="flex items-center justify-between w-full">
  <!-- Toggle alineado a la izquierda -->
  <div class="flex-1">
    <mat-slide-toggle formControlName="activo">Activo</mat-slide-toggle>
  </div>
  <!-- Botones alineados a la derecha -->
  <div class="flex space-x-4">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button color="primary" mat-flat-button type="submit">Aceptar</button>
  </div>
</mat-dialog-actions>
</form>
}