<div class="flex items-center justify-between py-4">
  <div>
    <h1 class="text-3xl font-semibold bg-gradient-to-r from-green-800 via-green-500 to-green-300 inline-block text-transparent bg-clip-text">Productos</h1>
    <p class="text-sm text-gray-500 dark:text-gray-300">Gestion de Repuestos, Insumos</p>
  </div>
  <div class="ml-auto">

    <button (click)="filtros()" class="ml-1 mr-1" color="primary" mat-mini-fab matTooltip="Filtros"
      type="button">
      <mat-icon>{{filtro?'filter_list_off':'filter_list'}}</mat-icon>
    </button>

    <button (click)="obtenerConsulta()" class="ml-1 mr-1" color="primary" mat-mini-fab matTooltip="Actualizar"
      type="button">
      <mat-icon>update</mat-icon>
    </button>

    <button (click)="nuevo()" class="ml-1 mr-1" color="warn" mat-mini-fab matTooltip="Adicionar" type="button">
      <mat-icon>add</mat-icon>
    </button>

  </div>
</div>


@if (buscadorFormGroup && filtro) {
  <form [formGroup]="buscadorFormGroup" (ngSubmit)="obtenerConsulta()">
    <div class="flex flex-wrap -mx-2">
      <div class="w-full md:w-1/5 px-2">
        <mat-form-field class="flex-auto w-full">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="categoria">
            <mat-option value="TODOS"> TODOS </mat-option>
            @for (item of listaCategorias; track item) {
              <mat-option [value]="item.descripcion">
                {{item.descripcion}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/5 px-2">
        <mat-form-field class="flex-auto w-full">
          <mat-label>TIPO</mat-label>
          <mat-select formControlName="tipo">
            <mat-option value="TODOS"> TODOS </mat-option>
            @for (item of tipos; track item) {
              <mat-option [value]="item">
                {{item}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/5 px-2">
        <mat-form-field class="flex-auto w-full">
          <mat-label>ACTIVO</mat-label>
          <mat-select formControlName="activo">
            <mat-option value="TODOS"> TODOS </mat-option>
            <mat-option value="true"> ACTIVOS </mat-option>
            <mat-option value="false"> PASIVOS </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/5 px-2">
        <!--       <mat-form-field class="flex-auto w-full">
        <mat-label>PUBLICADO</mat-label>
        <mat-select formControlName="publicado">
          <mat-option value="TODOS"> TODOS </mat-option>
          <mat-option value="true"> PUBLICADO </mat-option>
          <mat-option value="false"> PENDIENTE </mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
    <div class="w-full md:w-1/5 px-2">
      <mat-form-field appearance="fill" style="width:100%">
        <mat-label>Limite</mat-label>
        <mat-select formControlName="limite">
          @for (item of limites; track item) {
            <mat-option [value]="item.id">
              {{item.descripcion}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>
}

<div class="bg-transparent flex px-1 h-20 items-center">
  <div class="flex-auto flex m-0">
    <div
      class="bg-transparent border border-gray-300 dark:border-gray-600 rounded-full px-4 flex items-center w-full mr-2">
      <mat-icon>search</mat-icon>
      <input (keyup)="aplicarFiltro($event)"
        class="px-4 py-3 border-0 outline-none w-full bg-transparent  dark:text-white" placeholder="Buscar...">
    </div>
  </div>
</div>




<div class="overflow-x-auto rounded-lg border border-gray-200 dark:border-gray-700 shadow-sm">
  <table class="min-w-full text-sm text-left dark:text-white dark:bg-slate-800">
    <thead class="bg-gray-100 dark:bg-slate-900 text-gray-700 dark:text-gray-200">
      <tr>
        <th class="px-4 py-2"></th>
        <th class="px-4 py-2">Codigo</th>
        <th class="px-4 py-2">Descripcion</th>
        <th class="px-4 py-2">Clasificación</th>
        <th class="px-4 py-2">Activo</th>
        <th class="px-4 py-2 text-right">Opciones</th>
      </tr>
    </thead>
    <tbody>
      @for (item of lista; track item) {
        <tr
          class="border-t border-gray-300 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-slate-700">
          <!--         <td class="px-4 py-2">
          <img [src]="item.fotosUrl && item.fotosUrl.length> 0 ? item.fotosUrl[0].url : 'imagenes/sinfoto.png'"
          alt="Imagen del producto"
          style="width: 100%; max-width: 80px; height: auto; object-fit: cover; border-radius: 0.5rem; cursor: pointer;"
          (click)="fotos(item)">
        </td> -->
        <td class="px-4 py-2">
          <div style="width: 100%; max-width: 80px; height: 80px; position: relative;">
            <!-- Loader visible si está cargando -->
            <div [hidden]="!item.loading"
              class="absolute inset-0 flex items-center justify-center bg-gray-200 dark:bg-gray-700 animate-pulse rounded">
              <mat-icon class="text-gray-500 dark:text-gray-400">photo_camera</mat-icon>
            </div>
            <!-- Imagen visible cuando deja de cargar -->
            <img [src]="item.fotosUrl && item.fotosUrl.length> 0 ? item.fotosUrl[0].url : 'imagenes/sinfoto.png'"
            alt="Imagen del producto" class="w-full h-full object-cover rounded cursor-pointer" (click)="fotos(item)"
            (load)="item.loading = false" (error)="item.loading = false" [hidden]="item.loading" />
        </div>
      </td>
      <td class="px-4 py-2 font-semibold text-red-600 dark:text-red-400">
        <p [routerLink]="'detalle/'+ item.id"> <span
              class="text-xs px-2 py-1 rounded-full capitalize text-white cursor-pointer" [ngClass]="{
            'bg-slate-500': item.tipo === 'PRODUCTO',
            'bg-yellow-500': item.tipo === 'SERVICIO',
            'bg-green-500': item.tipo === 'INSUMO'}">
          {{ item.codigo }}
        </span>
      </p>
    </td>
    <td class="px-4 py-2">
      <div class="font-semibold">{{ item.descripcion }}</div>
    </td>
    <td class="px-4 py-2 text-xs text-gray-500 dark:text-gray-300">
      Tipo: {{ item.tipo }}<br>
      Categoria: {{ item.categoria }}<br>
      Fabricante: {{ item.fabricante }}<br>
      Proveedor: {{ item.proveedor }}<br>
    </td>
    <td class="px-4 py-2">
          <span [ngClass]="{
            'bg-green-500': item.activo,
            'bg-red-500': !item.activo
          }" class="text-white text-xs px-2 py-1 rounded-full">
        {{ item.activo ? 'ACTIVO' : 'PASIVO' }}
      </span>
    </td>
    <td class="px-4 py-2 text-right space-x-2">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opciones">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'detalle/'+ item.id"
          class="bg-gray-200 p-2 rounded-full hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 transition-colors duration-300">
          <mat-icon color="primary">info</mat-icon>
          <span>Detalle</span>
        </button>
        <button mat-menu-item (click)="resumen(item)"
          class="bg-gray-200 p-2 rounded-full hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 transition-colors duration-300">
          <mat-icon color="primary">view_timeline</mat-icon>
          <span>Resumen</span>
        </button>
        <button mat-menu-item (click)="editar(item)">
          <mat-icon color="tertiary">edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="eliminar(item)">
          <mat-icon color="warn">delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
      <!--
      <button (click)="editar(item)" class="p-2 rounded-full hover:bg-blue-100 dark:hover:bg-slate-700">
        <mat-icon class="text-blue-600 dark:text-blue-400">edit</mat-icon>
      </button>
      <button (click)="eliminar(item)" class="p-2 rounded-full hover:bg-red-100 dark:hover:bg-slate-700">
        <mat-icon class="text-red-600 dark:text-red-400">delete</mat-icon>
      </button> -->
    </td>
  </tr>
}
</tbody>
</table>
</div>



<!-- <section class="example-container mat-elevation-z8" tabindex="0">
<table mat-table [dataSource]="dataSource" matSort class="w-full dark:bg-gray-800">

  <ng-container matColumnDef="foto">
    <th mat-header-cell *matHeaderCellDef class="dark:text-white"> Foto </th>
    <td mat-cell *matCellDef="let element">
      <img [src]="element.fotosUrl && element.fotosUrl.length> 0 ? element.fotosUrl[0].url : 'imagenes/sinfoto.png'"
      alt="Imagen del producto"
      style="width: 100%; max-width: 80px; height: auto; object-fit: cover; border-radius: 0.5rem; cursor: pointer;"
      (click)="fotos(element)">

    </td>
  </ng-container>

  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef class="dark:text-white" mat-sort-header> Codigo </th>
    <td mat-cell *matCellDef="let element">

      <p [routerLink]="'detalle/'+ element.id"> <span
            class="text-xs px-2 py-1 rounded-full capitalize text-white cursor-pointer" [ngClass]="{
          'bg-slate-500': element.tipo === 'PRODUCTO',
          'bg-yellow-500': element.tipo === 'SERVICIO',
          'bg-green-500': element.tipo === 'INSUMO'}">
        {{ element.codigo }}
      </span>
    </p>

    <p class="text-sm px-2 py-1 dark:text-white">
      {{ element.descripcion }} <mat-icon class="text-yellow-500" *ngIf="element.favorito">star_rate_half</mat-icon>
    </p>




  </td>
</ng-container>

<ng-container matColumnDef="codigoBarra">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Codigo Barra </th>
  <td mat-cell *matCellDef="let element" class="dark:text-white">
    {{ element.codigoBarra }}
  </td>
</ng-container>

<ng-container matColumnDef="pv">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> P. Venta </th>
  <td mat-cell *matCellDef="let element" class="dark:text-white">
    {{ element.pv }}
  </td>
</ng-container>

<ng-container matColumnDef="cantidadTotal">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Cant. Total </th>
  <td mat-cell *matCellDef="let element" class="dark:text-white">
    {{ element.cantidadTotal }}
  </td>
</ng-container>

<ng-container matColumnDef="opciones">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
  <td mat-cell *matCellDef="let element">


    <div class="text-right">




      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opciones">
        <mat-icon>more_vert</mat-icon>
      </button>


      <mat-menu #menu="matMenu">

        <button mat-menu-item [routerLink]="'detalle/'+ element.id"
          class="bg-gray-200 p-2 rounded-full hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 transition-colors duration-300">
          <mat-icon color="primary">info</mat-icon>
          <span>Detalle</span>
        </button>

        <button mat-menu-item (click)="resumen(element)"
          class="bg-gray-200 p-2 rounded-full hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 transition-colors duration-300">
          <mat-icon color="primary">view_timeline</mat-icon>
          <span>Resumen</span>
        </button>
        <button mat-menu-item (click)="editar(element)">
          <mat-icon color="tertiary">edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="eliminar(element)">
          <mat-icon color="warn">delete</mat-icon>
          <span>Eliminar</span>
        </button>

      </mat-menu>

    </div>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
</section> -->