<div class="flex items-center justify-between py-4">
  <h1 class="text-3xl font-semibold dark:text-white">2. DETALLE DE INGRESOS</h1>
  <button (click)="imprimir()" class="ml-1 mr-1" color="warn" mat-mini-fab matTooltip="Imprimir" type="button">
    <mat-icon>print</mat-icon>
  </button>
</div>

@if (buscadorFormGroup ) {
<form [formGroup]="buscadorFormGroup" (ngSubmit)="obtenerReporte()">

  <div class="flex flex-wrap -mx-2">
    <div class="w-full md:w-1/5 px-2">
      <input type="date" class="dark:bg-gray-900 text-gray-800 dark:text-white" id="fechaInicio" name="fechaInicio"
        formControlName="fechaInicio">
    </div>
    <div class="w-full md:w-1/5 px-2">
      <input type="date" class="dark:bg-gray-900 text-gray-800 dark:text-white" id="fechaFinal" name="fechaFinal"
        formControlName="fechaFinal">
    </div>
    <div class="w-full md:w-1/5 px-2">
      <mat-form-field class="flex-auto w-full">
        <mat-label>Sucursal</mat-label>
        <mat-select formControlName="sucursal">
          <mat-option value="TODOS"> TODOS </mat-option>
          @for (item of listaSucursales; track item) {
          <mat-option [value]="item.id">
            {{item.descripcion}}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-full md:w-1/5 px-2">
      <mat-form-field class="flex-auto w-full">
        <mat-label>FINALIZADO</mat-label>
        <mat-select formControlName="finalizado">
          <mat-option value="TODOS"> TODOS </mat-option>
          <mat-option value="true"> FINALIZADO </mat-option>
          <mat-option value="false"> PENDIENTE </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-full md:w-1/5 px-2">
      <mat-form-field class="flex-auto w-full">
        <mat-label>TIPO</mat-label>
        <mat-select formControlName="tipo">
          <mat-option value="TODOS"> TODOS </mat-option>
          @for (item of listaTipos; track item) {
          <mat-option [value]="item.id">
            {{item.descripcion}}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div class="flex flex-wrap -mx-2">
    <div class="w-full md:w-1/3 px-2">

    </div>


    <div class="w-full md:w-2/3 px-2">
      <ng-select [items]="listaProductos" bindLabel="dato" bindValue="id" appendTo="body" formControlName="producto"
        name="productoId" #productoSelect placeholder="Buscar producto por codigo o descripcion..."
        panelClass="pos-ngselect">
      </ng-select>
    </div>
  </div>
</form>
}

<div class="table-container">
  <table class="tabla-estilizada" #tabla>
    <thead>
      <tr>
        <th colspan="8">DETALLE DE INGRESOS</th>
        <th colspan="3">{{fechaHoy| date}}</th>
      </tr>
      <tr>
        <th>SUCURSAL</th>
        <th>FECHA</th>
        <th>TIPO</th>
        <th>CODIGO</th>
        <th>DESCRIPCION</th>
        <th>CANTIDAD</th>
        <th style="text-align:end">P.C.</th>
        <th style="text-align:end">P.V.</th>
        <th>SUBTOTAL</th>
        <th>SALDO</th>
        <th>FINALIZADO</th>
      </tr>
    </thead>
    <tbody>
      @for (item of lista; track item; let ultimo = $last) {
      <tr>
        <td style="text-align:start"> {{item.sucursal}} </td>
        <td style="text-align:start"> {{item.fecha | date}} </td>
        <td style="text-align:start"> {{item.ingresoTipo}} </td>
        <td style="text-align:start"> {{item.productoCodigo}} </td>
        <td style="text-align:start"> {{item.productoDescripcion}} </td>
        <td style="text-align:center"> {{item.cantidad}} </td>
        <td style="text-align:end"> {{item.pc| number:'1.2-2': 'EN'}} </td>
        <td style="text-align:end"> {{item.pv| number:'1.2-2': 'EN'}} </td>
        <td style="text-align:end"> {{item.subtotal| number:'1.2-2': 'EN'}} </td>
        <td style="text-align:center"> {{item.cantidadSaldo}} </td>
        <td style="text-align:start"> {{item.finalizado?'Finalizado':'Pendiente'}} </td>
      </tr>
      }
    </tbody>
    @if(totales){
    <tfoot>
      <tr>

        <th>{{lista.length}}</th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
        <th style="text-align:center">{{totales.cantidad}}</th>
        <th style="text-align:end">{{totales.pc | number:'1.2-2': 'EN'}}</th>
        <th style="text-align:end">{{totales.pv | number:'1.2-2': 'EN'}}</th>
        <th style="text-align:end">{{totales.subtotal | number:'1.2-2': 'EN'}}</th>
        <th>-</th>
        <th>-</th>

      </tr>
    </tfoot>
    }
  </table>
</div>