<div class="flex items-center justify-between py-4">
    <div>
        <h1 class="text-3xl font-semibold text-gray-800 dark:text-white">Estadisticas</h1>
        <p class="text-sm text-gray-500 dark:text-gray-300">Comunicados, Eventos y Notificaciones</p>
    </div>
    <div class="ml-auto">

        <!--       <button (click)="filtros()" class="ml-1 mr-1" color="primary" mat-mini-fab matTooltip="Filtros"
        type="button">
        <mat-icon>{{filtro?'filter_list_off':'filter_list'}}</mat-icon>
      </button>
  
      <button (click)="obtenerConsulta()" class="ml-1 mr-1" color="primary" mat-mini-fab matTooltip="Actualizar"
        type="button">
        <mat-icon>update</mat-icon>
      </button> -->



    </div>
</div>
