<div class="flex items-center justify-between py-4">
  <h1 class="text-3xl font-semibold dark:text-white">Viajes</h1>
  <button (click)="nuevo()" class="ml-1 mr-1" color="warn" mat-mini-fab matTooltip="Adicionar" type="button">
    <mat-icon>add</mat-icon>
  </button>
</div>

@if (buscadorFormGroup ) {
  <form [formGroup]="buscadorFormGroup" (ngSubmit)="obtenerConsulta()">
    <div class="flex flex-wrap -mx-2">
      <div class="w-full md:w-1/4 px-2">
        <input type="date" class="dark:bg-gray-900 text-gray-800 dark:text-white" id="fechaInicio"
          name="fechaInicio" formControlName="fechaInicio">
        <input type="date" class="dark:bg-gray-900 text-gray-800 dark:text-white" id="fechaFinal" name="fechaFinal"
          formControlName="fechaFinal">
      </div>
      <div class="w-full md:w-1/4 px-2">
        <mat-form-field class="flex-auto w-full">
          <mat-label>Cliente</mat-label>
          <mat-select formControlName="cliente">
            <mat-option value="TODOS"> TODOS </mat-option>
            @for (item of listaClientes; track item) {
              <mat-option [value]="item.id">
                {{item.empresa}}, {{item.responsable}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/4 px-2">
        <mat-form-field class="flex-auto w-full">
          <mat-label>Vehiculo</mat-label>
          <mat-select formControlName="vehiculo">
            <mat-option value="TODOS"> TODOS </mat-option>
            @for (item of listaVehiculos; track item) {
              <mat-option [value]="item.id">
                {{item.numero}} : {{item.placa}}, {{item.conductor}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/4 px-2">
        <mat-form-field class="flex-auto w-full">
          <mat-label>FINALIZADO</mat-label>
          <mat-select formControlName="finalizado">
            <mat-option value="TODOS"> TODOS </mat-option>
            <mat-option value="true"> FINALIZADO </mat-option>
            <mat-option value="false"> PENDIENTE </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--         <div class="w-full md:w-1/5 px-2">
      <mat-form-field class="flex-auto w-full">
        <mat-label>PROCESADO</mat-label>
        <mat-select formControlName="procesado">
          <mat-option value="TODOS"> TODOS </mat-option>
          <mat-option value="true"> PROCESADO </mat-option>
          <mat-option value="false"> PENDIENTE </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <!--         <div class="w-full md:w-1/5 px-2">
    <mat-form-field appearance="fill" style="width:100%">
      <mat-label>Limite</mat-label>
      <mat-select formControlName="limite">
        <mat-option *ngFor="let item of limites" [value]="item.id">
          {{item.descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
</div>
</form>
}


<div class="table-container mat-elevation-z2">
  <table mat-table [dataSource]="dataSource" matSort class="w-full dark:bg-gray-800">

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Codigo </th>
      <td mat-cell *matCellDef="let element" [class.text-green-500]="element.finalizado"
        [class.text-red-500]="!element.finalizado">
        <span [class.bg-green-100]="element.finalizado" [class.bg-red-100]="!element.finalizado"
          class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full">
          {{ element.codigo }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="clienteEmpresa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Cliente </th>
      <td mat-cell *matCellDef="let element" class="dark:text-white">

        <!-- Empresa -->
        <div class="flex items-center space-x-2">
          <span class="material-icons text-green-500">business</span>
          <!--                    <h4 class="font-semibold text-sm text-gray-700 dark:text-gray-300">Empresa:</h4> -->
          <p class="text-gray-800 dark:text-gray-100">{{ element.clienteEmpresa }}</p>
        </div>

        <!-- Responsable -->
        <div class="flex items-center space-x-2">
          <span class="material-icons text-blue-500">person</span>
          <!--                     <h4 class="font-semibold text-sm text-gray-700 dark:text-gray-300">Responsable:</h4> -->
          <p class="text-gray-800 dark:text-gray-100">{{ element.clienteResponsable }}</p>
        </div>

        <!-- Teléfono -->
        <div class="flex items-center space-x-2">
          <span class="material-icons text-yellow-500">phone</span>
          <!--         <h4 class="font-semibold text-sm text-gray-700 dark:text-gray-300">Teléfono:</h4> -->
          <p class="text-gray-800 dark:text-gray-100">{{ element.clienteTelefono }}</p>
        </div>

        <span class="italic text-xs text-gray-600 dark:text-gray-300">
          Registrado: {{element.fechaRegistro?.toDate() | date:'short'}}
        </span>
        <br>
          <span class="italic text-xs text-gray-600 dark:text-gray-300">
            Finalizado: {{element.finalizadoFecha?.toDate() | date:'short'}}
          </span>

        </td>
      </ng-container>



      <!--         <ng-container matColumnDef="producto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Producto </th>
      <td mat-cell *matCellDef="let element">
                <span class="text-xs px-2 py-1 rounded-full capitalize text-white" [ngClass]="{
                    'bg-slate-500': element.producto === '91',
                    'bg-yellow-500': element.producto === '95',
                    'bg-green-500': element.producto === 'DIESEL'
                }">
          {{ element.producto }}
        </span>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="vehiculoNumero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Vehiculo </th>
      <td mat-cell *matCellDef="let element" class="dark:text-white">


        <!-- Numero -->
        <div class="flex items-center space-x-2">
          <span class="px-2 py-1 rounded-full bg-red-500 text-white">
            {{ element.vehiculoNumero }}
          </span>
          <!-- <h4 class="font-semibold text-sm text-gray-700 dark:text-gray-300">Numero:</h4> -->
          <p class="text-gray-800 dark:text-gray-100">
            {{ element.vehiculoModelo }}
          </p>
        </div>

        <!-- Vehículo -->
        <div class="flex items-center space-x-2">
          <span class="material-icons text-indigo-500">directions_car</span>
          <!-- <h4 class="font-semibold text-sm text-gray-700 dark:text-gray-300">Vehículo:</h4> -->
          <p class="text-gray-800 dark:text-gray-100">
            <span class="px-2 py-1 rounded-full bg-blue-500 text-white margin-left:10px">
              {{ element.vehiculoPlaca }}
            </span>
          </p>
        </div>

        <!-- Conductor -->
        <div class="flex items-center space-x-2">
          <span class="material-icons text-teal-500">badge</span>
          <!--  <h4 class="font-semibold text-sm text-gray-700 dark:text-gray-300">Conductor:</h4> -->
          <p class="text-gray-800 dark:text-gray-100">{{ element.conductor }}</p>
        </div>


        <!-- Teléfono -->
        <div class="flex items-center space-x-2">
          <span class="material-icons text-yellow-500">phone_iphone</span>
          <!-- <h4 class="font-semibold text-sm text-gray-700 dark:text-gray-300">Teléfono:</h4> -->
          <p class="text-gray-800 dark:text-gray-100">{{ element.conductorTelefono }}</p>
        </div>

        <span class="italic text-xs text-gray-600 dark:text-gray-300">
          Nota: {{element.descripcion}}
        </span>


      </td>
    </ng-container>


    <ng-container matColumnDef="origen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Origen - Destino </th>
      <td mat-cell *matCellDef="let element" class="dark:text-white">


        <!-- Origen -->
        <div class="flex items-center space-x-2">
          <span class="material-icons text-red-500">local_parking</span>
          <h4 class="font-semibold text-sm text-gray-700 dark:text-gray-300">Parada:</h4>
          <p class="text-gray-800 dark:text-gray-100">{{ element.parada }}</p>
        </div>

        <!-- Origen -->
        <div class="flex items-center space-x-2">
          <span class="material-icons text-red-500">location_on</span>
          <h4 class="font-semibold text-sm text-gray-700 dark:text-gray-300">Origen:</h4>
          <p class="text-gray-800 dark:text-gray-100">{{ element.origen }}</p>
        </div>

        <!-- Destino -->
        <div class="flex items-center space-x-2">
          <span class="material-icons text-purple-500">flag</span>
          <h4 class="font-semibold text-sm text-gray-700 dark:text-gray-300">Destino:</h4>
          <p class="text-gray-800 dark:text-gray-100">{{ element.destino }}</p>
        </div>

        <!-- Fecha -->
        <div class="flex items-center space-x-2">
          <span class="material-icons text-cyan-500">event</span>
          <!-- <h4 class="font-semibold text-sm text-gray-700 dark:text-gray-300">Fecha:</h4> -->
          <p class="text-gray-800 dark:text-gray-100">{{ element.fecha | date }}</p>
        </div>

        <!-- Hora -->
        <div class="flex items-center space-x-2">
          <span class="material-icons text-orange-500">schedule</span>
          <!-- <h4 class="font-semibold text-sm text-gray-700 dark:text-gray-300">Hora:</h4> -->
          <p class="text-gray-800 dark:text-gray-100">{{ element.hora }}</p>
        </div>




      </td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Precio </th>
      <td mat-cell *matCellDef="let element">

        <div class="text-right">
          <span [class.text-blue-500]="element.finalizado" [class.text-orange-500]="!element.finalizado"
            [class.bg-blue-100]="element.finalizado" [class.bg-orange-100]="!element.finalizado"
            class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full">
            {{ element.precio | number:'1.2-2': 'EN'}}
          </span>
        </div>

      </td>
    </ng-container>

    <ng-container matColumnDef="aceptado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Aceptado </th>
      <td mat-cell *matCellDef="let element" class="dark:text-white">

        <span [class.bg-yellow-500]="element.rechazado" [class.bg-red-500]="!element.rechazado"
          class="px-2 inline-flex text-xs leading-5 rounded-full text-white">
          {{ element.rechazado?'Rechazado':''}}
        </span>

        <span [class.bg-blue-500]="element.aceptado" [class.bg-red-500]="!element.aceptado"
          class="px-2 inline-flex text-xs leading-5 rounded-full text-white">
          {{ element.aceptado?'Aceptado':'Pendiente'}}
        </span>
        <br>
          <span class="italic text-xs text-gray-600 dark:text-gray-300">
            {{element.aceptadoFecha?.toDate() | date:'short'}}
          </span>
          <br>
            <span class="italic text-xs text-gray-600 dark:text-gray-300">
              {{element.aceptadoDireccion}}
            </span>

          </td>
        </ng-container>

        <ng-container matColumnDef="finalizado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="dark:text-white"> Finalizado </th>
          <td mat-cell *matCellDef="let element" class="dark:text-white">
            <span [class.bg-green-500]="element.finalizado" [class.bg-red-500]="!element.finalizado"
              class="px-2 inline-flex text-xs leading-5 rounded-full text-white">
              {{ element.finalizado?'Finalizado':'Pendiente'}}
            </span>
            <br>
              <span class="italic text-xs text-gray-600 dark:text-gray-300">
                {{element.finalizadoFecha?.toDate() | date:'short'}}
              </span>
              <br>
                <span class="italic text-xs text-gray-600 dark:text-gray-300">
                  {{element.finalizadoDireccion}}
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
              <td mat-cell *matCellDef="let element">



                <div class="text-right">

                  <a mat-flat-button [routerLink]="'detalle/' + element.id " class="ml-1 mr-1" color="accent">
                    <mat-icon>electric_car</mat-icon> Detalle
                  </a>
                  <!--
                  <button [routerLink]="'detalle/' + element.id " class="ml-1 mr-1" color="warn" mat-mini-fab type="button">
                    <mat-icon>electric_car</mat-icon>
                  </button>
                  -->

                  <!--                     <a [routerLink]="'detalle/'+ element.id" matTooltip="Detalle, Agregrar/Quitar/Editar Items"
                  class="inline-block px-4 py-2 border-2 border-lime-600 text-lime-600 font-medium text-xs leading-tight uppercase rounded-lg hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
                  Detalle
                </a> -->

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opciones">
                  <mat-icon>more_vert</mat-icon>
                </button>

                <!-- Menú de opciones -->
                <mat-menu #menu="matMenu">

                  @if (!element.finalizado) {
                    <button mat-menu-item (click)="editar(element)">
                      <mat-icon color="accent">edit</mat-icon>
                      <span>Editar</span>
                    </button>
                  }

                  @if (!element.finalizado) {
                    <button mat-menu-item (click)="enviarPorWhatsApp(element)">
                      <mat-icon color="accent">message</mat-icon>
                      <span>Enviar por WhatsApp</span>
                    </button>
                  }

                  @if (!element.finalizado) {
                    <button mat-menu-item (click)="eliminar(element)">
                      <mat-icon color="warn">delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  }

                  <!--                         <button mat-menu-item (click)="copiar(element)">
                  <mat-icon color="primary">file_copy</mat-icon>
                  <span>Copiar</span>
                </button>
                -->
                @if (!element.finalizado) {
                  <button mat-menu-item (click)="finalizar(element)">
                    <mat-icon color="primary">done</mat-icon>
                    <span>Finalizar</span>
                  </button>
                }
              </mat-menu>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>